# Supabase
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key

# Groq
GROQ_API_KEY=your_groq_api_key

# Openai
NEXT_PUBLIC_OPENAI_API_KEY=your_openai_api_key

# Discord Notifications
NOTIFICATIONS_WEBHOOK_URL=your_discord_webhook_url